html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#ar-container {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
}


#ar-container video {
    position: fixed !important;
    inset: 0;

    width: 100% !important;
    height: 100% !important;

    object-fit: cover;

    z-index: 1;
}


#ar-container canvas {
    position: fixed !important;
    inset: 0;

    width: 100% !important;
    height: 100% !important;

    z-index: 2;
}